[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
redis = "*"
rope = "*"
flask-session = "*"
flask-session-captcha = {editable = true,path = "."}
flake8 = "*"
autopep8 = "*"

[packages]
captcha = "*"
click = "*"
itsdangerous = "*"
werkzeug = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"

[requires]
python_version = "3.9"
